*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #8c1515;
    color:white;
    padding: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 30px;
}

.main a:hover{
    text-decoration: underline;
}

.subnav{
    background-color: #2b2b2b;
    padding: 30px 50px;
}

.subnav ul {
    list-style: none;
    display: flex;
    gap:50px;
    justify-content: center;
}

.subnav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.subnav a:hover{
    text-decoration: underline;
}

.login a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}   

.login a:hover{
    text-decoration: underline;
}

.banner{
    background-position: center;
    text-align: center;
    padding: 40px;
    position: relative;
}

.banner h1{
    font-size: 55px;
    margin-bottom: 10px;
}

.banner p{
    font-size: 40px;
    margin-bottom: 40px;
}

form.search{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search_content {
    position: relative;
    max-width: 750px;
    width: 100%;
}

.search_content input {
    width: 100%;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.search_content button {
    position: absolute;
    right: 2.5px;
    background-color: #8c1515;
    border: none;
    color: white;
    padding: 18.5px 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;
    margin-top: 2px;
}

.education_options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 60px 20px;
    max-width: 1400px;
    margin: 0 auto; /* para centrar*/
}

.education_options .card{
    background-color:white;
}

.education_options .card h2{
    font-size: 23px;
    color: #8c1515;
    font-weight: bold;
    padding: 15px;
}

.education_options .card p{
    font-size: 17px;
    color:#333;
    line-height: 1.5;
    padding: 15px;
}

.education_options .card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 15px;
}

.background_img{
    background-image: url(https://online.stanford.edu/sites/default/files/styles/front_intro_image_l/public/2023-10/stanford-online-background-image.jpg.webp?itok=zdPOrQ5A);
    background-size: cover;
    background-position: center;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.background_img .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(67, 65, 65, 0.7);
    z-index: 2;
}

.banner, .education_options{
    position: relative;
    color: white;
    z-index: 3;
}

.container_full {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.block_title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 35px;
}

.more_link{
    text-align: end;
    cursor: pointer;
    font-size: 20px;
    color: #8c1515;
    font-weight: bold;
    position: relative;
    right: 50px;
    margin-bottom: 30px;
}

.front_credentials img{
    display: block;
    width: 100%;
    max-width: unset;
    height: auto;
    margin-inline: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 768px) {
.header-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.subnav ul {
    flex-direction: column;
    gap: 20px;
}

.banner h1 {
    font-size: 30px;
}

.banner{
    padding-top: 5px

}

.banner p {
    font-size: 24px;
}

.search_content input {
    font-size: 18px;
    padding: 20px;
}

.search_content button {
    font-size: 25px;
    padding: 15px 25px;
}

.education_options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px;
}

.education_options .card {
    display: flex;
}

.education_options .card img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0;
}

.education_options .card .card-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education_options .card .card-content h2 {
    font-size: 18px;
    color: #8c1515;
}

.education_options .card .card-content p {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

.block_title {
    font-size: 28px;
    padding: 20px;
}

.more_link {
    font-size: 16px;
    text-align: center;
    right: 0;
}
}

