*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #8c1515;
    color:white;
    padding: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 30px;
}

.main a:hover{
    text-decoration: underline;
}

.subnav{
    background-color: #2b2b2b;
    padding: 30px 50px;
}

.subnav ul {
    list-style: none;
    display: flex;
    gap:50px;
    justify-content: center;
}

.subnav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.subnav a:hover{
    text-decoration: underline;
}

.subnav a i.fa-search{
    margin-right: 5px;
}

.subnav a i.fa-chevron-down{
    margin-left: 5px;
    position: relative;
    top: 4px;
}

.login a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}   

.login a:hover{
    text-decoration: underline;
}

.login a i{
    margin-right: 5px;
}

.banner{
    background-position: center;
    text-align: center;
    padding: 40px;
    position: relative;
}

.banner h1{
    font-size: 55px;
    margin-bottom: 10px;
}

.banner p{
    font-size: 40px;
    margin-bottom: 40px;
}

form.search{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search_content {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.search_content input {
    width: 100%;
    padding: 30px;
    font-size: 30px;
    padding-left: 140px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, 
    #ccc 0%, 
    #f5f5f5 20%, 
    #ffffff 50%, 
    #f5f5f5 80%, 
    #ccc 100%
    );
}

.search_content button {
    position: absolute;
    right: 2.5px;
    background-color: #8c1515;
    border: none;
    color: white;
    padding: 19px 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 45px;
    margin-top: 2px;
}

.education_options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto; /* para centrar*/
}

.education_options .card{
    background-color:white;
    transition: transform 0.2s ease;
}

.education_options .card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.education_options .card h2{
    font-size: 23px;
    color: #8c1515;
    font-weight: bold;
    padding: 15px;
}

.education_options .card p{
    font-size: 17px;
    color:#333;
    line-height: 1.5;
    padding: 15px;
}

.education_options .card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 15px;
}

.background_img{
    background-image: url(https://online.stanford.edu/sites/default/files/styles/front_intro_image_l/public/2023-10/stanford-online-background-image.jpg.webp?itok=zdPOrQ5A);
    background-size: cover;
    background-position: center;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.background_img .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(67, 65, 65, 0.7);
    z-index: 2;
}

.banner, .education_options{
    position: relative;
    color: white;
    z-index: 3;
}

.container_full {
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px;
}

.block_title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 40px;
}

.more_link{
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.more_link a{
    color: #8c1515;
    text-decoration: none;
    font-weight: bold;
}

.front_credentials img{
    display: block;
    width: 100%;
    max-width: unset;
    height: auto;
    object-fit: cover;
    margin-inline: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.title_f{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 35px;
}

.featured_courses{
    background-color: #f4f4f4;
    padding: 20px;
}

.title_c{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 35px;
}

.title_c::after{
    display: block;
    content: '';
    width: 100px;
    height: 6px;
    background-color: #b1040e;
    margin: 10px auto 0; /*espacio arriba y centrado */
    border-radius: 5px;
}

.link{
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    margin-right: 45px;
    margin-bottom: 10px;
}

.link a{
    color: #8c1515;
    text-decoration: none;
    font-weight: bold;
}

.course_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto; /* para centrar*/
}

.course_list .card{
    background-color:white;
    box-shadow: 0 4px 8px rgba(67, 65, 65, 0.7);
}

.course_list .card h2{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    padding: 15px;
}

.course_list .card h3{
    font-size: 15px;
    color: #333;
    padding: 15px;
}

.course_list .card h4{
    font-size: 17px;
    color:#8c1515;
    line-height: 1.5;
    padding: 15px;
}

.course_list .card p{
    font-size: 15px;
    color: #333;
    padding: 15px;
}

.featured_programs{
    background-color: #f4f4f4;
}

.programs_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto; /* para centrar*/
}

.programs_list .card{
    background-color:white;
    box-shadow: 0 4px 8px rgba(67, 65, 65, 0.7);
}

.programs_list .card h2{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    padding: 15px;
}

.programs_list .card h3{
    font-size: 15px;
    color: #333;
    padding: 15px;
}

.programs_list .card h4{
    font-size: 17px;
    color:#8c1515;
    line-height: 1.5;
    padding: 15px;
}

.testimonial{
    background-image: url(https://online.stanford.edu/sites/default/files/styles/front_intro_image/public/2023-10/Stanford-pillars-homepage-image.jpg.webp?itok=2EgsPoQq);
    background-size: cover;
    background-position: center;
    padding: 70px 10px;
    position: relative;
    z-index: 1;
    color: white;
}

.testimonial .overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(19, 13, 13, 0.462);
    z-index: 1;
}

.testimonial_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 0 5px;
    max-width: 1400px;
    margin: 0 auto;
}

.info{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonial img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}

.role {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.degree {
    font-size: 14px;
    color: #e98300;
    text-align: center;
}

.quote{
    flex: 2;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.quote blockquote {
    font-size: 35px;
    line-height: 1.4;
    color: white;
}

.footer_social{
    background-color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer_social ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.footer_social ul li a:hover {
    text-decoration: underline;
}

.iconos img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.iconos img:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.footer_info{
    background-color: #8c1515;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 50px;
    font-size: 16px;
}

.footer_info .logo img{
    max-width: 150px;
    height: auto;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin-left: 100px;
}

.global_links{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.global_policy{
    list-style: none;
    display: flex;
    gap: 23px;
    padding: 0;
    margin: 0;
}

.footer_nav a{
    color: white;
    text-decoration: none;
}

.footer_nav a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
.header-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.logo{
    font-size: 20px;
    text-align: left;
}

.login{
    text-align: right;
}

.subnav ul {
    flex-direction: column;
    gap: 20px;
}

.banner h1 {
    font-size: 30px;
}

.banner{
    padding-top: 5px
}

.banner p {
    font-size: 24px;
}

form.search{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.search_content input {
    font-size: 18px;
    padding: 20px;
    text-align: left;
}

.search_content button {
    font-size: 25px;
    padding: 11px 15px;
}

.education_options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 5px 5px;
}

.education_options .card {
    display: flex;
}

.education_options .card img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0;
}

.education_options .card .card-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education_options .card .card-content h2 {
    font-size: 18px;
    color: #8c1515;
}

.education_options .card .card-content p {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

.block_title {
    font-size: 28px;
    padding: 20px;
}

.more_link {
    font-size: 16px;
    text-align: center;
    right: 0;
}
}

